/* App.css */
.app {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url('../public/bg.jpg') center/cover no-repeat fixed !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;


}