/* src/components/Projects.css */

.projects {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.project {
    margin-bottom: 15px;
}

/* Style headers */
h1 {
    font-size: 24px;
    text-align: center;
    /* Adjust the font size as needed */
    color: #333;
    /* Set the color of the header text */
    margin-bottom: 10px;
    /* Add space below the header */
}

h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 8px;
}

h3 {
    font-size: 18px;
    color: #777;
    margin-bottom: 6px;
}

/* Style paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
    /* Adjust the line height for better readability */
    color: #444;
    margin-bottom: 15px;
}