/* src/components/Sidebar.css */
.sidebar {
    width: 300px;
    background-color: transparent;
    color: white;
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
}

.header-info {
    margin-bottom: 20px;
}

.header-info h1,
.header-info p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
    /* Set your desired font size */
    padding: 10px;
    /* Add padding to create a box around the text */
    border: 1px solid #ccc;
    /* Add a faint border */
    border-radius: 5px;
    /* Optional: Add border-radius for rounded corners */
}

.icon {
    margin-right: 10px;
    /* Adjust spacing between icon and text */
}

li:hover {
    background-color: transparent;
    /* Change background color on hover */
    border-color: #888;
    /* Change border color on hover */
}